.button {
    background-color: #008cba; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    padding: 14px 20px;
    margin: 20px 0;
    border: none;
    border-radius: 4px;
}
.button:disabled {
    opacity: 0.5;
}